body{
    margin: 0px;
}
header{
    height:200px;
    background-color: rgb(255, 230, 0);
}
nav{
    height: 100px;
    background-color: brown;
}
main{
    min-height: 1000px;
    background-color: blueviolet;
}

aside{
    width: 20%;
    background-color: rgb(1, 245, 62);
    min-height: 1000px;
    float: left;
}
section{
    width: 20%;
    background-color: aqua;
    min-height: 1000px;
    float: left;
}

footer{
    min-height: 100px;
    background-color: rgb(38, 0, 255);
    clear: both;
}