body,
h1 {
    margin: 0%;
    height: 1070px;
}

/* #mother{
    margin: 0% auto;
    width: 80%;
    background-color: rgb(0, 0, 0);
} */
header {
    background-color: #D9D9D9;
    min-height: 70px;
    border-bottom: 5px solid #450399;
    position: fixed;
    width: 100%;
    z-index: 100;
    /* 這是最上圖層 */
}

main {
    display: flex;
    flex-direction: row;
}

#slide {
    display:inline;
    position: absolute;
    right: 33%;
    top: 20%;
}
.slide_img {
    width: 550px;
    border-radius: 120px;
    border: 3px double #450399;
    margin: 0px 0px 30px 0px;
    height: 700px;
}