#left {
    background-color: #d8d8d8;
    min-height: 1000px;
    width: 30%;
    border-right: 5px solid #450399;
    position: fixed;
    top: 8.0%;
}

#fox_maker img {
    /* height: 350px; */
    position: absolute;
    top: 12px;
    left: 140px;
    max-width: 50%;
    opacity: 0.6;
}

#fox_maker h1 {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2.5em;
    /* max-width: 50%; */
}

#fox_maker h2 {
    position: absolute;
    top: 43%;
    left: 55%;
    font-size: 2.3em;
}

#fox_maker p {
    background-color: #C5B4B4;
    padding: 50px;
    position: absolute;
    bottom: 14%;
}