@charset "utf-8";

/*視窗背景色設定*/
body{
    background-color: rgb(144, 146, 146);
}

/*連結顏色設定*/
a{
    color: rgb(153, 41, 41);
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1{
    color: blueviolet;
    background-color: white;
    margin: 40px;
    padding: 30px;
    border: 5px solid #252927;
}

/*次標題設定*/
h2{
    color: rgb(127, 6, 241);
    background-color: white;
    margin: 10px;
    padding: 5px;
}

/*小標題設定*/
h3{
    color: rgb(46, 5, 83);
}


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/


